
@import "tailwindcss";


html, body, #root {
  min-height: 100%;
}

/*  MODO OSCURO */
html.dark body {
  background:
    radial-gradient(circle at top left, #4b1fbf 0%, #1d1b3a 35%, #050816 100%);
  color: #e5e7eb;
}

/*  MODO CLARO */
html.light body {
  background:
    linear-gradient(180deg,#191515 0%,#23336c 50%,#182c88 100%);
  color: #ffffff;
}

/* Transiciones suaves */
html {
  transition: background 0.3s ease, color 0.3s ease;
}

/* Scrollbar    */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(148,163,184,0.7);
  border-radius: 999px;
}

/* Elementos que cambian en modo claro    */

html.light input,
html.light .search-input {
  background: white !important;
  color: #1a1a1a !important;
  border-color: #ccc !important;
}

html.light .stats-card {
  background: white !important;
  color: #1a1a1a !important;
}



/* TABLA  BLANCA COMPLETA */


.player-table {
  background: #ffffff !important;
  color: #111 !important;
  border-radius: 16px;
  overflow: hidden;
}

/* Encabezados de tabla */
.player-table th {
  background: #eef2ff !important;
  color: #111 !important;
  font-weight: 600 !important;
  padding: 12px 8px;
}

/* Celdas */
.player-table td {
  color: #111 !important;
  padding: 10px 8px;
}

/* Iconos y botones dentro de tabla */
.player-table svg,
.player-table button,
.player-table span {
  color: #111 !important;
}


